.app-container {
    display: grid;
    grid-template-rows: 100px 1fr 200px;
    min-height: 100vh;

    &_content {
        width: 100%;
        height: calc(100vh - 100px);
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
    }
}