.icon-button {
    border: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
    
    &.grey {
        fill: var(--c-grey-d1);
        color: var(--c-grey-d1);

        &:hover {
            fill: var(--c-orange);
            color: var(--c-orange);
        }

        &:active {
            fill: var(--c-orange-d1);
            color: var(--c-orange-d1);
        }

        &:disabled {
            fill: var(--c-grey-l2);
            color: var(--c-grey-l2)
        }
    }
}
