<div class="add-team">
    <form class="add-team_wrapper" [formGroup]="addTeamForm" (ngSubmit)="onSubmitClick()">
        <div class="add-team_title">
            <div class="add-team_title-wrapper">
                <h3>Add Teams</h3>
            </div>
        </div>
        <div class="add-team_content">
            <div class="add-team_input-wrapper">
                <input id="teamName" name="name" class="add-team_input" type="text" placeholder="team name" 
                    formControlName="name"
                    required
                >
                <div class="add-team_alert-wrapper">
                    @if (f['name'].invalid && (f['name'].dirty || f['name'].touched)) {
                        @if (f['name'].hasError('required')) {
                            <div>
                                Team Name is required.
                            </div>
                        }
    
                        @if (f['name'].hasError('minlength')) {
                            <div>
                                Team Name must be at least 4 characters long.
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="add-team_input-wrapper">
                <div class="add-team_input-row-wrapper">
                    <input class="add-team_input input_abbrev" type="text" placeholder="team abbreviation" formControlName="abbrev" required/>
                    <input class="add-team_input input_age" type="text" placeholder="U16, JV, etc" formControlName="ageGroup" />
                </div>
                <div class="add-team_alert-wrapper">
                    @if ( (f['abbrev'].invalid && (f['abbrev'].dirty || f['abbrev'].touched)) || 
                        (f['ageGroup'].invalid && (f['ageGroup'].dirty || f['ageGroup'].touched)) ) {
                        @if (f['abbrev'].hasError('required')) {
                            <div *ngIf="f['abbrev'].errors?.['required']">
                                Abbreviation is required.
                            </div>
                        }
                        @if (f['abbrev'].hasError('minlength')) {
                            <div *ngIf="f['abbrev'].errors?.['maxlength']">
                                Abbreviation must be 4 characters or less.
                            </div>
                        }
                        @if ( f['ageGroup'].invalid && (f['ageGroup'].dirty || f['ageGroup'].touched)) {
                            @if (f['name'].hasError('required')) {
                                <div *ngIf="f['ageGroup'].errors?.['required']">
                                    Age Group is required.
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="content_wrapper">
                <div class="add-team_input-radio-container">
                    <label for="girls" class="label-radio">Girls
                        <input type="radio" id="girls" name="genGroup" value="girls" formControlName="genGroup" checked>
                    </label>
                    <label for="boys" class="label-radio">Boys
                        <input type="radio" id="boys" name="genGroup" value="boys" formControlName="genGroup">
                    </label>
                    <label for="coed" class="label-radio">Co-Ed
                        <input type="radio" id="coed" name="genGroup" value="coed" formControlName="genGroup">
                    </label>
                </div>
            </div>
            <div class="content_wrapper">
                <div class="add-team_input input-colors" formGroupName="colors">
                    <p class="colors_title">colors:</p>
                    <div>
                        <input type="color" class="colors_picker" id="homeColor" name="homeColor" formControlName="home" />
                        <mat-label class="colors_label" for="homeColor">home</mat-label>
                    </div>
                    <div>
                        <input type="color" class="colors_picker" id="awayColor" name="awayColor" formControlName="away" />
                        <mat-label class="colors_label" for="awayColor">away</mat-label>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-team_button-wrapper">
            <pkm-button-standard type="submit" [isDisabled]="!addTeamForm.valid" label="Add Team" color="green"/>
        </div>
    </form>
</div>
