<footer>
    <div class="footer-container">
        <div class="top-footer">
            <div class="footer-links">
                <div class="footer-links_col">
                    <ul class="links">
                        <li class="links_siteLink"><a routerLink="/teams">Teams</a></li>
                        <li class="links_siteLink"><a routerLink="/games">Games</a></li>
                        <li class="links_siteLink"><a>Players</a></li>
                        <li class="links_siteLink"><a>Users</a></li>
                    </ul>
                </div>
                <div class="footer-links_col">
                    <ul class="links">
                        <li class="links_siteLink"><a>About</a></li>
                        <li class="links_siteLink"><a>Privacy</a></li>
                        <li class="links_siteLink"><a>Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-signup">
                <pkm-newsletter-signup></pkm-newsletter-signup>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="bottom-footer_content">
                <p class="copyr">&copy;2025 Pitch Keeper Inc.</p>
            </div>
        </div>
    </div>
</footer>

