<div class="add-event_container">
    <form [formGroup]="addGameForm" (ngSubmit)="onSubmit()">
        <div class="add-event">
            <div class="add-event_team-a-info">
                <h4>Your Team</h4>
                <mat-form-field class="combobox content_wrapper">
                    <mat-label class="content_label" for="teamA">{{cmboPlaceholder}}</mat-label>
                    <input type="text" matInput [matAutocomplete]="autoA" formControlName="teamA"
                        class="content_input" name="teamA" required tabindex="0" >
                    <mat-autocomplete #autoA="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let team of filteredTeamsA | async" [value]="team">
                        {{team.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div class="content_wrapper_alert">
                    <div *ngIf="f['teamA'].invalid && (f['teamA'].dirty || f['teamA'].touched)" class="alert alert-danger">
                        <div *ngIf="f['teamA'].errors?.['required']">
                            Team Name is required.
                        </div>
                        <div *ngIf="f['teamA'].errors?.['minlength']">
                            Team Name must be at least 4 characters long.
                        </div>
                    </div>
                </div>
                <div class="content_wrapper">
                    <mat-label class="content_label" for="teamAAbbrev">Team Abbreviation</mat-label>
                    <input matInput class="content_input input_abbrev" type="text" name="teamAAbbrev" placeholder="UNH, RAR, LIV" formControlName="teamAAbbrev" 
                        value={team.abbrev} style="text-transform:uppercase" aria-label="Your Team's Abbreviation" required tabindex="0"/>
                </div>
                <div class="content_wrapper_alert">
                    <div *ngIf="f['teamAAbbrev'].invalid && (f['teamAAbbrev'].dirty || f['teamAAbbrev'].touched)" class="alert alert-danger">
                        <div *ngIf="f['teamAAbbrev'].errors?.['required']">
                            Team abbreviation is required.
                        </div>
                        <div *ngIf="f['teamAAbbrev'].errors?.['minlength'] || f['teamAAbbrev'].errors?.['maxlength']">
                            Team Name must be between 3 and 4 characters long.
                        </div>
                    </div>
                </div>
                <div class="input_wrapper single-input">
                    <div class="content_input checkboxToggle">
                        <mat-label for="isHomeToggle" class="toggleLabel toggleLabel_left"><p>home</p></mat-label>
                        <mat-slide-toggle formControlName="homeTeam" id="isHomeToggle" name="isHome" [checked]="checked" 
                            (change)="onHomeCheck($event)" defaultColor="#ffa5000" tabindex="0"></mat-slide-toggle>
                        <mat-label for="isHomeToggle" class="toggleLabel toggleLabel_right"><p>away</p></mat-label>
                    </div>
                </div>
            </div>
            <div class="add-item_team-b-info">
                <h4>Opponent</h4>
                    <mat-form-field class="combobox content_wrapper">
                        <mat-label class="content_label" for="teamB">{{cmboPlaceholder}}</mat-label>
                        <input type="text" matInput formControlName="teamB" [matAutocomplete]="autoB" 
                            class="content_input" name="teamB" required tabindex="0"/>
                        <mat-autocomplete #autoB="matAutocomplete" [displayWith]="displayFn" >
                            <mat-option *ngFor="let team of filteredTeamsB | async" [value]="team">
                            {{team.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="content_wrapper_alert">
                        <div *ngIf="f['teamB'].invalid && (f['teamB'].dirty || f['teamB'].touched)" class="alert alert-danger">
                            <div *ngIf="f['teamB'].errors?.['required']">
                                Team Name is required.
                            </div>
                            <div *ngIf="f['teamB'].errors?.['minlength']">
                                Team Name must be at least 4 characters long.
                            </div>
                        </div>
                    </div>
                <div class="content_wrapper">
                    <mat-label class="content_label" for="teamBAbbrev">Team Abbreviation</mat-label> 
                    <input matInput class="content_input input_abbrev" type="text" name="teamBAbbrev" placeholder="MUN, BARC, BVB" formControlName="teamBAbbrev" 
                        value={team.abbrev} style="text-transform:uppercase" aria-label="Opponent's Abbreviation" required tabindex="0"/>
                </div>
                <div class="content_wrapper_alert">
                    <div *ngIf="f['teamBAbbrev'].invalid && (f['teamBAbbrev'].dirty || f['teamBAbbrev'].touched)" class="alert alert-danger">
                        <div *ngIf="f['teamBAbbrev'].errors?.['required']">
                            Team abbreviation is required.
                        </div>
                        <div *ngIf="f['teamBAbbrev'].errors?.['minlength'] || f['teamBAbbrev'].errors?.['maxlength']">
                            Team Name must be between 3 and 4 characters long.
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-game_game-info">
                <div class="content_heading">
                    <h4>Game Info</h4>
                </div>
                <div class="content gameInfo">
                    <div class="input_wrapper dateTime_wrapper">
                        <div class="dateTime">
                            <mat-label class="content_label" for="gameDate">Date</mat-label>
                            <input matInput class="content_input" type="date" name="gameDate" placeholder="today()" formControlName="gameDate"  aria-label="Game Date" 
                            tabindex="0" />
                        </div>
                        <div class="add-game_date-time">
                            <mat-label class="content_label" for="gameTime">Time</mat-label>
                            <input matInput class="content_input" type="time" name="gameTime" placeholder="10:30 AM" formControlName="gameTime"  aria-label="Game Time" 
                            tabindex="0"/>
                        </div>
                    </div>
                    <div class="input_wrapper text_wrapper">
                        <mat-label class="content_label" for="location">Field Location</mat-label>
                        <input matInput class="content_input" type="text" placeholder="Memorial Park - Field 2" name="location" formControlName="location" 
                            aria-label="Game Location" tabindex="0"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
