.add-game {
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    grid-template-areas: 
        "teamAInfo teamBInfo"
        "gameInfo gameInfo";
    gap: 1rem 4%;

    &_team-a-info {
        grid-area: teamAInfo;
    }

    &_team-b-info {
        grid-area: teamBInfo;
    }

    &_game-info {
        grid-area: gameInfo;
        width: 100%;
        max-width: none;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;

			&:nth-child(3) {
				margin-left: 2rem;
			}
    
        }
    }

    h4 {
        margin: 0;
        font-size: 1rem;

    }

    .date-time_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .date-time {  
            width: 40%;
            max-width: 200px;
            
            label {
                display: block;
            }

            input {
                display: block;
                margin-left: 0;

                 
            }

        }
    }

    .combobox {
        display: block !important;
        margin: auto;
        
        &_input {
            width: 90%;
            //max-width: 330px;
            border:  1px solid var(--color-n1); //$border1
            padding: 10px;
            //font-size: 18px;
            //border-bottom: 2px solid rgb(165, 112, 112);
            color: var(--color-n1);

            &:focus {
                outline-style: none;
            
            }
        
        }

        &_options {
            position: absolute;
            text-align: center;
            background-color: var(--color-white);
            width: 350px;
            max-height: 150px;
            overflow-y: auto;
            box-shadow: 2px 2px 2px 2px var(--color-n1);
            z-index: 10;
        }

    }

    .selected {
        background-color: var(--color-primary);
    }

    list-item {
        display: block;
        text-align: left;
        padding: 10px;

        &:hover {
            background-color: var(--color-primary);
        }
    }
            
    .error-text {
        color: rgb(165, 112, 112);
    }

    .error {
        border: 1px solid red;
    }
    
}