.events-page {
    padding-bottom: 2.5rem;

    &_sidenav {
        background-color: var(--c-white);
        box-shadow: -10px 0px 13px rgba(138, 138, 138, 0.5);
    }
}

.events-table {
    &_name {
        width: 40%;
        max-width: 500px;
    }

    &_div-age {
        width: 10%;
        max-width: 100px;
        text-align: left;
    }

    &_div-gen {
        width: 10%;
        max-width: 50px;
        text-align: left;
    }

    &_player-count {
        width: 15%;
        max-width: 150px;
        text-align: left;
    }

    &_staff {
        width: 20%;
        max-width: 200px;
        text-align: left;

        &> span {
            &::before {
                content: ", ";

            }

            &:first-of-type::before {
                content: "";
            }
        }
    }

    &_nav {
        text-align: right;
        vertical-align: middle;
    }
}

.managerAddSection {
    &_wrapper {
        padding: 1.88rem 4rem;
    }

    &_title {
        display: flex;
        justify-content: space-between;
        width: 30%;
        max-width: 415px;
        margin-bottom: 3rem;
    }

    &_content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        p {
            display: inline-block;
            font-size: 1rem;
        }

    }

    &_button {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 1rem 4rem 1rem 1rem;

    }

    .content_wrapper{
        flex: 1 1 33%;
        max-width: 400px;
        margin-bottom: 1.66rem;

        .content_input {
            height: 2.77rem;

            &.input_abbrev {
                max-width: 150px;
            }

            &.input_age {
                max-width: 90px;
            }

            &.input_colors {
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                .colors {
                    &_title {
                        margin-right: 2.75rem;

                    }

                    &_label {
                        margin-right: 1rem;

                    }

                    &_picker {
                        width: 50px;
                        height: 50px;
                        padding: 0;
                        border: none;
                        
                        &:first-of-type {
                            margin-right: 1rem;
                        }

                    }
                }
            }
        }

    }


}