.teams-page {
    padding-bottom: 2.5rem;

    &_sidenav {
        box-shadow: -10px 0px 13px rgba(138, 138, 138, 0.5);
        // filter: drop-shadow(-100px 0px 13px #8a8a8a);
    }
}

.teams-table {
    &_name {
        width: 40%;
        max-width: 500px;
    }

    &_divAge {
        width: 10%;
        max-width: 100px;
        text-align: left;
    }

    &_divGen {
        width: 10%;
        max-width: 50px;
        text-align: left;
    }

    &_playerCount {
        width: 15%;
        max-width: 150px;
        text-align: left;
    }

    &_staff {
        width: 20%;
        max-width: 200px;
        text-align: left;

        &> span {
            &::before {
                content: ", ";

            }

            &:first-of-type::before {
                content: "";
            }
        }
    }

    &_nav {
        width: 2%;
        text-align: right;
        vertical-align: middle;
    }

}

.coached-teams_teams-table .teams-table {

    &_divAge {
        width: 16%;
        max-width: 160px;
    }

    &_divGen {
        width: 16%;
        max-width: 110px;
    }

    &_playerCount {
        width: 16%;
        max-width: 210px;
    }
    
}

.teams-table_container {
    overflow-y: scroll;
    max-height: 45vh;
}

.mat-table-container {
    max-height: 300px; /* Set your desired maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
  }